parameters:
	ignoreErrors:
		-
			message: "#^Method Drupal\\\\atdc\\\\Controller\\\\BlogPageController\\:\\:create\\(\\) should return static\\(Drupal\\\\atdc\\\\Controller\\\\BlogPageController\\) but returns Drupal\\\\atdc\\\\Controller\\\\BlogPageController\\.$#"
			count: 1
			path: web/modules/custom/atdc/src/Controller/BlogPageController.php
